
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* 
link đăng xuất
.header .logout-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #d9534f; 
    transition: background-color 0.3s;
}

.header .logout-link:hover {
    background-color: #c9302c;
} 
*/

.sidebar {
    background-color: #555;
    color: #fff;
    width: 200px;
    padding: 10px;
    float: left;
    height: 100vh; /* 100% chiều cao màn hình */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #4CAF50;
}

.main-content {
    padding: 20px;
    margin-left: 220px; /* Sidebar width + margin */
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
